.radices-table {
    position: relative;
    font-family: 'Courier New', Courier, monospace;
}

.th-cell {
    position: sticky;
    top: 0;
    background-color: white;
}

.radices-cell {
    border: none;
    text-align: end;
}

.base-10-col {
    background-color: aquamarine;
}