.stringification {
  isolation: isolate;
  height: 100%;
}

.stringification_table_box {
  height: 80%;
  width: 100%;
  overflow: auto;
  border: 1px solid lightgray;
}

.stringification_table {
  width: 100%;
  border-collapse: collapse;
  overflow: auto;
  /* margin-left: -16px; */
}

.stringification_table th.left {
  z-index: 2;
}
.stringification_table .left {
  position: sticky;
  left: 0px;
  background-color: var(--surround-color);
}
.stringification_table th {
  padding: 6px 6px;
  text-align: start;
  position: sticky;
  top: 0px;
  background-color: var(--surround-color);
  z-index: 1;
}

.stringification_table td {
  padding: 6px 6px;
  border-bottom: 1px solid lightgray;
}

.stringification p {
  margin: 0;
}
.stringification .bool-box {
  width: 100%;
  display: flex;
  justify-content: center;
}
.stringification .check {
  background-color: rgb(30, 133, 30);
  padding: 0 6px;
  color: white;
}
.stringification .cross {
  background-color: rgb(199, 0, 0);
  padding: 0 6px;
  color: white;
}
