.quarter-split {
  height: calc(100% - 21px - 4px - 1rem);
  display: flex;
  justify-content: space-between;
  align-items: space-between;
  flex-wrap: wrap;
  position: relative;
}

.quarter-box {
  width: 46%;
  height: 46%;
  display: flex;
  flex-direction: column;
}
.quarter-box p {
  margin: 0;
  padding: 0.3rem;
  text-transform: capitalize;
}

.quarter-one {
  border: 1px solid lightgray;
  display: flex;
  flex-wrap: wrap;
  align-content: flex-start;
  flex: 1;
}

.vertical {
  flex-direction: column;
}

.reverse-row {
  flex-direction: row-reverse;
}

.reverse-column {
  flex-direction: column-reverse;
}

.box {
  border: 1px solid white;
  background-color: rgb(85, 26, 139);
  color: white;
  width: 25%;
  height: 25%;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 0.3rem;
}

.rerun {
  margin-bottom: 1rem;
}
